.h3Reports {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #686868;
  font-size: 28px;
}

.reportHeading {
  padding: 10px 0 10px 0;
  border-bottom: 2px solid;
  font-size: 18px;
  font-weight: 600;
  background: #e5e5e5;
  margin-bottom: 0;
}

.titleName {
  background: #ff000036;
  padding: 15px;
  margin: 10px;
  border-radius: 0px;
  margin-left: 0;
  margin-right: 0;
}

.titlenameReport{
  background: #dedede36;
  padding: 15px;
  margin: 10px;
  border-radius: 0px;
  margin-left: 0;
  margin-right: 0;
}
